<section class="tab details {{tab.cssClass}}" data-group="primary" data-tab="details">
  
    <div class="horizontal-line-container">
      <span class="line" ></span>{{localize 'EXALTED2E.SheetLabels.Attributes'}}<span class="line" ></span>
    </div>
    
    <div class="attributes grid grid-3col">
      {{#each system.attributes as |attribute key|}}
      <div>
        <div class="attribute flexrow flex-center">
          <label for="system.attributes.{{key}}.value" class="resource-label" data-roll="{{attribute.value}}"
            data-label="{{attribute.name}}" style="text-align:start;">{{localize attribute.name}}
          </label>
          <div class="resource-value" data-value="{{attribute.value}}" data-name="system.attributes.{{key}}.value">
            {{#numLoop 5}}
            <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="horizontal-line-container">
      <span class="line" ></span>{{localize 'EXALTED2E.SheetLabels.Abilities'}}<span class="line" ></span>
    </div>
    {{#switch actor.type}}  
      {{#case 'solar'}} {{> 'systems/exalted2e/templates/actor/parts/actor-solar-abilities.hbs'}} {{/case}}
      {{#case 'lunar'}} {{> 'systems/exalted2e/templates/actor/parts/actor-lunar-abilities.hbs'}} {{/case}}
    {{/switch}}
    <div class="horizontal-line-container">
      <span class="line" ></span>{{localize 'EXALTED2E.SheetLabels.Advantages'}}<span class="line" ></span>
    </div>
  
</section>