<section class="tab details {{tab.cssClass}}" data-group="primary" data-tab="details">
  
    <div class="horizontal-line-container">
      <span class="line" ></span>{{localize 'EXALTED2E.SheetLabels.Attributes'}}<span class="line" ></span>
    </div>
    
    <div class="attributes grid grid-3col">
      {{#each system.attributes as |attribute key|}}
      <div>
        <div class="attribute flexrow flex-center">
          <label for="system.attributes.{{key}}.value" class="resource-label" data-roll="{{attribute.value}}"
            data-label="{{attribute.name}}" style="text-align:start;">{{localize attribute.name}}
          </label>
          <div class="resource-value" data-value="{{attribute.value}}" data-name="system.attributes.{{key}}.value">
            {{#numLoop 5}}
            <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="horizontal-line-container">
      <span class="line" ></span>{{localize 'EXALTED2E.SheetLabels.Abilities'}}<span class="line" ></span>
    </div>
    {{#switch actor.type}}  
      {{#case 'solar'}} {{> 'systems/exalted2e/templates/actor/parts/actor-solar-abilities.hbs'}} {{/case}}
      {{#case 'lunar'}} {{> 'systems/exalted2e/templates/actor/parts/actor-lunar-abilities.hbs'}} {{/case}}
    {{/switch}}
    <div class="horizontal-line-container">
      <span class="line" ></span>{{localize 'EXALTED2E.SheetLabels.Advantages'}}<span class="line" ></span>
    </div>
    
    <div class="grid grid-3col">
      <div class="flexcol"> <!-- Left Column -->
        <div class="horizontal-line-container">
          <span class="line" ></span>{{localize 'EXALTED2E.SheetLabels.Anima'}}<span class="line" ></span>
        </div>
        <div>{{ system.animaPower }}</div>
        <div class="horizontal-line-container">
          <span class="line" ></span>{{localize 'EXALTED2E.SheetLabels.LimitBreak'}}<span class="line" ></span>
        </div>
        <div class="resource-counter center" data-states="x:value" data-value="{{system.limit.value}}" data-name="system.limit.value">
          {{#numLoop 10}}
            <span data-action="squareCounterChange" class="resource-counter-step non-health-boxes" data-type="limit" data-index="{{this}}" data-state=""></span>
          {{/numLoop}}
        </div>
        <div class="horizontal-line-container">
          <span class="line" ></span>{{localize 'EXALTED2E.SheetLabels.VirtueFlaw'}}<span class="line"></span>
        </div>
        <div>
          <input id="limit.flaw" name="system.limit.flaw" type="text" value="{{system.limit.flaw}}" placeholder="" />
        </div>
      </div>
      <div class="flexcol"> <!-- Middle Column -->
        <div class="horizontal-line-container">
          <span class="line"></span>{{localize 'EXALTED2E.SheetLabels.Willpower'}}<span class="line"></span>
        </div>
        <div class="resource-value center" data-value="{{system.willpower.current}}" data-name="system.willpower.current">
          {{#numLoop 10}}
            <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
          {{/numLoop}}
        </div>
        <div class="resource-counter center" data-states="x:value" data-value="{{system.willpower.value}}" data-name="system.willpower.value">
          {{#numLoop 10}}
            <span data-action="squareCounterChange" class="resource-counter-step non-health-boxes" data-type="willpower" data-index="{{this}}" data-state=""></span>
          {{/numLoop}}
        </div>
        <div class="horizontal-line-container">
          <span class="line"></span>{{localize 'EXALTED2E.SheetLabels.Soak'}}<span class="line"></span>
        </div>
        <div class="align-center">
          {{localize 'EXALTED2E.SheetLabels.Bashing'}} <span class="underlined">{{system.soak.bashing}}</span> {{localize 'EXALTED2E.SheetLabels.Lethal'}} <span class="underlined">{{system.soak.lethal}}</span> {{localize 'EXALTED2E.SheetLabels.Aggravated'}} <span class="underlined">{{system.soak.aggravated}}</span>
        </div>
      </div> <!-- Right Column -->
      <div class="flexcol">
        <div class="horizontal-line-container">
          <span class="line" ></span>{{localize 'EXALTED2E.SheetLabels.Virtues'}}<span class="line" ></span>
        </div>
        <div class="grid grid-2col">
          <div class="subtitle">
            <span>{{localize 'EXALTED2E.SheetLabels.Compassion'}}</span>
            <div class="resource-value center" data-value="{{system.virtues.compassion.current}}" data-name="system.virtues.compassion.current">
              {{#numLoop 5}}
                <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
              {{/numLoop}}
            </div>
            <div class="resource-counter center" data-states="x:value" data-value="{{system.virtues.compassion.value}}" data-name="system.virtues.compassion.value">
              {{#numLoop 5}}
                <span data-action="squareCounterChange" class="resource-counter-step non-health-boxes" data-type="compassion" data-index="{{this}}" data-state=""></span>
              {{/numLoop}}
            </div>
          </div>
          <div class="subtitle">
            <span>{{localize 'EXALTED2E.SheetLabels.Conviction'}}</span>
            <div class="resource-value center" data-value="{{system.virtues.conviction.current}}" data-name="system.virtues.conviction.current">
              {{#numLoop 5}}
                <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
              {{/numLoop}}
            </div>
            <div class="resource-counter center" data-states="x:value" data-value="{{system.virtues.conviction.value}}" data-name="system.virtues.conviction.value">
              {{#numLoop 5}}
                <span data-action="squareCounterChange" class="resource-counter-step non-health-boxes" data-type="conviction" data-index="{{this}}" data-state=""></span>
              {{/numLoop}}
            </div>
          </div>
          <div class="subtitle">
            <span>{{localize 'EXALTED2E.SheetLabels.Temperance'}}</span>
            <div class="resource-value center" data-value="{{system.virtues.temperance.current}}" data-name="system.virtues.temperance.current">
              {{#numLoop 5}}
                <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
              {{/numLoop}}
            </div>
            <div class="resource-counter center" data-states="x:value" data-value="{{system.virtues.temperance.value}}" data-name="system.virtues.temperance.value">
              {{#numLoop 5}}
                <span data-action="squareCounterChange" class="resource-counter-step non-health-boxes" data-type="temperance" data-index="{{this}}" data-state=""></span>
              {{/numLoop}}
            </div>
          </div>
          <div class="subtitle">
            <span>{{localize 'EXALTED2E.SheetLabels.Valor'}}</span>
            <div class="resource-value center" data-value="{{system.virtues.valor.current}}" data-name="system.virtues.valor.current">
              {{#numLoop 5}}
                <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
              {{/numLoop}}
            </div>
            <div class="resource-counter center" data-states="x:value" data-value="{{system.virtues.valor.value}}" data-name="system.virtues.valor.value">
              {{#numLoop 5}}
                <span data-action="squareCounterChange" class="resource-counter-step non-health-boxes" data-type="valor" data-index="{{this}}" data-state=""></span>
              {{/numLoop}}
            </div>
          </div>
        </div>
        <div class="horizontal-line-container">
          <span class="line" ></span>{{localize 'EXALTED2E.SheetLabels.Essence'}}<span class="line" ></span>
        </div>
        <div class="resource-value center" data-value="{{system.essence.current}}" data-name="system.essence.current">
          {{#numLoop system.essence.max}}
            <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
          {{/numLoop}}          
          <div class="lowercaps align-left" data-value="{{system.personal.value}}" data-name="system.personal.value">
            {{localize 'EXALTED2E.SheetLabels.Personal'}}
            <input id="personal.value" class="moteInput" name="system.personal.value" type="number" value="{{system.personal.value}}" min="0" max="{{system.personal.max}}" /> | <span class="underlined">{{system.personal.max}}</span>
          </div>
          <div class="lowercaps align-left">
            {{localize 'EXALTED2E.SheetLabels.Peripheral'}}
            <input id="peripheral.current" class="moteInput" name="system.peripheral.current" type="number" value="{{system.peripheral.value}}" min="0" max="{{system.peripheral.max}}" /> | <span class="underlined">{{system.peripheral.max}}</span>
          </div>   
          <div class="lowercaps align-left">
            {{localize 'EXALTED2E.SheetLabels.Commited'}}
            <span class="underlined">{{system.commited}}</span>
          </div>           
        </div>
      </div>
    </div>
</section>
