<div class="abilities grid grid-3col">
  <div class="dawn">
    <div class="text-uppercase align-center">{{localize 'EXALTED2E.Solar.Dawn'}}</div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.archery">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.archery.caste}}caste{{/if}}" data-value="{{system.abilities.archery.favored}}" data-type="system.abilities.archery.favored" data-state=""></span>
        <label for="system.abilities.archery.value" class="resource-label" data-roll="{{system.abilities.archery.value}}"
          data-label="{{system.abilities.archery.name}}" style="text-align:start;">{{localize system.abilities.archery.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.archery.value}}" data-name="system.abilities.archery.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.martialarts">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.martialarts.caste}}caste{{/if}}" data-value="{{system.abilities.martialarts.favored}}" data-type="system.abilities.martialarts.favored" data-state=""></span>
        <label for="system.abilities.martialarts.value" class="resource-label" data-roll="{{system.abilities.martialarts.value}}"
          data-label="{{system.abilities.martialarts.name}}" style="text-align:start;">{{localize system.abilities.martialarts.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.martialarts.value}}" data-name="system.abilities.martialarts.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.melee">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.melee.caste}}caste{{/if}}" data-value="{{system.abilities.melee.favored}}" data-type="system.abilities.melee.favored" data-state=""></span>
        <label for="system.abilities.melee.value" class="resource-label" data-roll="{{system.abilities.melee.value}}"
          data-label="{{system.abilities.melee.name}}" style="text-align:start;">{{localize system.abilities.melee.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.melee.value}}" data-name="system.abilities.melee.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.thrown">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.thrown.caste}}caste{{/if}}" data-value="{{system.abilities.thrown.favored}}" data-type="system.abilities.thrown.favored" data-state=""></span>
        <label for="system.abilities.thrown.value" class="resource-label" data-roll="{{system.abilities.thrown.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.thrown.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.thrown.value}}" data-name="system.abilities.thrown.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.war">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.war.caste}}caste{{/if}}" data-value="{{system.abilities.war.favored}}" data-type="system.abilities.war.favored" data-state=""></span>
        <label for="system.abilities.war.value" class="resource-label" data-roll="{{system.abilities.war.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.war.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.war.value}}" data-name="system.abilities.war.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
  </div>
  <div class="zenith">
    <div class="text-uppercase align-center">{{localize 'EXALTED2E.Solar.Zenith'}}</div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.integrity">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.integrity.caste}}caste{{/if}}" data-value="{{system.abilities.integrity.favored}}" data-type="system.abilities.integrity.favored" data-state=""></span>
        <label for="system.abilities.integrity.value" class="resource-label" data-roll="{{system.abilities.integrity.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.integrity.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.integrity.value}}" data-name="system.abilities.integrity.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.performance">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.performance.caste}}caste{{/if}}" data-value="{{system.abilities.performance.favored}}" data-type="system.abilities.performance.favored" data-state=""></span>
        <label for="system.abilities.performance.value" class="resource-label" data-roll="{{system.abilities.performance.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.performance.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.performance.value}}" data-name="system.abilities.performance.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.presence">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.presence.caste}}caste{{/if}}" data-value="{{system.abilities.presence.favored}}" data-type="system.abilities.presence.favored" data-state=""></span>
        <label for="system.abilities.presence.value" class="resource-label" data-roll="{{system.abilities.presence.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.presence.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.presence.value}}" data-name="system.abilities.presence.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.resistance">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.resistance.caste}}caste{{/if}}" data-value="{{system.abilities.resistance.favored}}" data-type="system.abilities.resistance.favored" data-state=""></span>
        <label for="system.abilities.resistance.value" class="resource-label" data-roll="{{system.abilities.resistance.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.resistance.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.resistance.value}}" data-name="system.abilities.resistance.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.survival">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.survival.caste}}caste{{/if}}" data-value="{{system.abilities.survival.favored}}" data-type="system.abilities.survival.favored" data-state=""></span>
        <label for="system.abilities.survival.value" class="resource-label" data-roll="{{system.abilities.survival.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.survival.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.survival.value}}" data-name="system.abilities.survival.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
  </div>
  <div class="twilight">
    <div class="text-uppercase align-center">{{localize 'EXALTED2E.Solar.Twilight'}}</div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.craft">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.craft.caste}}caste{{/if}}" data-value="{{system.abilities.craft.favored}}" data-type="system.abilities.craft.favored" data-state=""></span>
        <label for="system.abilities.craft.value" class="resource-label" data-roll="{{system.abilities.craft.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.craft.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.craft.value}}" data-name="system.abilities.craft.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.investigation">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.investigation.caste}}caste{{/if}}" data-value="{{system.abilities.investigation.favored}}" data-type="system.abilities.investigation.favored" data-state=""></span>
        <label for="system.abilities.investigation.value" class="resource-label" data-roll="{{system.abilities.investigation.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.investigation.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.investigation.value}}" data-name="system.abilities.investigation.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.lore">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.lore.caste}}caste{{/if}}" data-value="{{system.abilities.lore.favored}}" data-type="system.abilities.lore.favored" data-state=""></span>
        <label for="system.abilities.lore.value" class="resource-label" data-roll="{{system.abilities.investigation.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.lore.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.lore.value}}" data-name="system.abilities.lore.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.medicine">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.medicine.caste}}caste{{/if}}" data-value="{{system.abilities.medicine.favored}}" data-type="system.abilities.medicine.favored" data-state=""></span>
        <label for="system.abilities.medicine.value" class="resource-label" data-roll="{{system.abilities.medicine.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.medicine.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.medicine.value}}" data-name="system.abilities.medicine.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.occult">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.occult.caste}}caste{{/if}}" data-value="{{system.abilities.occult.favored}}" data-type="system.abilities.occult.favored" data-state=""></span>
        <label for="system.abilities.occult.value" class="resource-label" data-roll="{{system.abilities.occult.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.occult.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.occult.value}}" data-name="system.abilities.occult.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
  </div>
  <div class="night">
    <div class="text-uppercase align-center">{{localize 'EXALTED2E.Solar.Night'}}</div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.athletics">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.athletics.caste}}caste{{/if}}" data-value="{{system.abilities.occult.favored}}" data-type="system.abilities.occult.favored" data-state=""></span>
        <label for="system.abilities.athletics.value" class="resource-label" data-roll="{{system.abilities.athletics.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.athletics.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.athletics.value}}" data-name="system.abilities.athletics.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.awareness">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.awareness.caste}}caste{{/if}}" data-value="{{system.abilities.awareness.favored}}" data-type="system.abilities.awareness.favored" data-state=""></span>
        <label for="system.abilities.awareness.value" class="resource-label" data-roll="{{system.abilities.awareness.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.awareness.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.awareness.value}}" data-name="system.abilities.awareness.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.dodge">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.dodge.caste}}caste{{/if}}" data-value="{{system.abilities.dodge.favored}}" data-type="system.abilities.dodge.favored" data-state=""></span>
        <label for="system.abilities.dodge.value" class="resource-label" data-roll="{{system.abilities.dodge.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.dodge.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.dodge.value}}" data-name="system.abilities.dodge.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.larceny">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.larceny.caste}}caste{{/if}}" data-value="{{system.abilities.larceny.favored}}" data-type="system.abilities.larceny.favored" data-state=""></span>
        <label for="system.abilities.larceny.value" class="resource-label" data-roll="{{system.abilities.larceny.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.larceny.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.larceny.value}}" data-name="system.abilities.larceny.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.stealth">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.stealth.caste}}caste{{/if}}" data-value="{{system.abilities.stealth.favored}}" data-type="system.abilities.stealth.favored" data-state=""></span>
        <label for="system.abilities.stealth.value" class="resource-label" data-roll="{{system.abilities.stealth.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.stealth.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.stealth.value}}" data-name="system.abilities.stealth.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
  </div>
  <div class="eclipse">
    <div class="text-uppercase align-center">{{localize 'EXALTED2E.Solar.Eclipse'}}</div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.bureaucracy">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.bureaucracy.caste}}caste{{/if}}" data-value="{{system.abilities.bureaucracy.favored}}" data-type="system.abilities.bureaucracy.favored" data-state=""></span>
        <label for="system.abilities.bureaucracy.value" class="resource-label" data-roll="{{system.abilities.bureaucracy.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.bureaucracy.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.bureaucracy.value}}" data-name="system.abilities.bureaucracy.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.linguistics">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.linguistics.caste}}caste{{/if}}" data-value="{{system.abilities.linguistics.favored}}" data-type="system.abilities.linguistics.favored" data-state=""></span>
        <label for="system.abilities.linguistics.value" class="resource-label" data-roll="{{system.abilities.linguistics.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.linguistics.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.linguistics.value}}" data-name="system.abilities.linguistics.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.ride">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.ride.caste}}caste{{/if}}" data-value="{{system.abilities.ride.favored}}" data-type="system.abilities.ride.favored" data-state=""></span>
        <label for="system.abilities.ride.value" class="resource-label" data-roll="{{system.abilities.ride.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.ride.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.ride.value}}" data-name="system.abilities.ride.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.sail">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.sail.caste}}caste{{/if}}" data-value="{{system.abilities.sail.favored}}" data-type="system.abilities.sail.favored" data-state=""></span>
        <label for="system.abilities.sail.value" class="resource-label" data-roll="{{system.abilities.sail.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.sail.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.sail.value}}" data-name="system.abilities.sail.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    <div class="ability flexrow flex-center">
      <div class="resource-counter leftbox" data-states="x:value" data-name="system.abilities.socialize">
        <span data-action="favoredChange" class="resource-favored non-health-boxes {{#if system.abilities.socialize.caste}}caste{{/if}}" data-value="{{system.abilities.socialize.favored}}" data-type="system.abilities.socialize.favored" data-state=""></span>
        <label for="system.abilities.socialize.value" class="resource-label" data-roll="{{system.abilities.socialize.value}}"
          data-label="{{system.abilities.thrown.name}}" style="text-align:start;">{{localize system.abilities.socialize.name}}
        </label>
      </div>
      <div class="resource-value" data-value="{{system.abilities.socialize.value}}" data-name="system.abilities.socialize.value">
        {{#numLoop 5}}
        <span data-action="dotCounterChange" class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
  </div>
  <div class="specialties">
    <div class="text-uppercase align-center">{{localize 'EXALTED2E.SheetLabels.Specialties'}}</div>
  </div>
</div>